body {margin: 0 auto; width: 500px;}

table, th, td {
  border: 1px solid black;
}

ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #FFF;
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 1px solid black;
}

li.fillorbustlogo {
  float: left;
}
li.explore {
  float: right;
}

li.profile {
  float: right;
}



li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #EDEDED;
}

.user {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  max-width: 450px;
  background-color: white;
  margin: 15px 2px;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.user_pic {
  margin-left: 0.5em
}

.active {
  background-color: #EDEDED;
}

.post {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  max-width: 450px;
  background-color: white;
  margin: 15px 2px;
}

/* On mouse-over, add a deeper shadow */
.post:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.infocontainer {
  padding: 2px 16px;
}

.comment {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.commenttext {
  margin-left: 0.9em;
}

.userinfo {
  margin-left: 0.9em;
  color: gray;
}

.post_author {
  margin-left: 0.9em;
}

.author_icon {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.background {
  background-color: #EDEDED;
  height: 100%;
}
.feed {
  max-width: 500px;
  margin: auto;
  align-content: space-between;
  justify-content: center;
  margin-top: 47px;

}

img {
  border-radius: 5px 5px 0 0;
}

/*
.post {
	border-style: solid;
	border-width: 1px;
	border-radius: 2px;
	margin-bottom: 20px;
} */

.profPic {
	width: 6%;
}

.postPic {
	width: 100%;
}

.rightSide {
	float: right;
}

.userPic {
	width: 45%;
	margin: 2%;
}

.follower {
	border-style: solid;
	border-width: 1px;
	border-radius: 2px;
	margin-bottom: 20px;
}

.following {
	border-style: solid;
	border-width: 1px;
	border-radius: 2px;
	margin-bottom: 20px;
}

.explore {
	border-style: solid;
	border-width: 1px;
	border-radius: 2px;
	margin-bottom: 20px;
}

.postMainPage {
	border-style: solid;
	border-width: 1px;
	border-radius: 2px;
	margin-bottom: 20px;

}

.pic {
	max-width: 60%
}
